# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# testing
coverage/
**/coverage/

# next.js
.next/
**/.next/
out/
**/out/

# production
build/
**/build/

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env
!.env.example
!backend/.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
**/next-env.d.ts
